.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*******************Colors*******************/
.primary {
  color: #163c73;
}
.Success {
  color: #22c55e;
}
.Danger {
  color: #ef4444;
}
.Background {
  background-color: #f3f5f9;
}
.Card {
  background-color: #fefefe;
}
/*******************bg-Colors*******************/
.primary-bg {
  background-color: #163c73;
}
.Success-bg {
  background-color: #22c55e;
}
.Danger-bg {
  background-color: #ef4444;
}
.Background-bg {
  background-color: #f3f5f9;
}
.Card-bg {
  background-color: #fefefe;
}

.li-design {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}
